.image-client{
    padding: 2px;
    border: 1px solid blue;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    border-radius: 3px;
    .inner-housing{
        width: 90px;
        height: 90px;
        overflow: hidden;
        border-radius: 3px;
        img{
            width: 200%;
        }
    }
}

#visit-showrooms{
    height: 100vh;
    background-image: url(../assets/anna-sullivan-f7fZg21B3ms-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

#newsletter{
    height: 100vh;
}