// general
body{
    background-color: $nauticBlue!important;
    font-family: 'Work Sans', sans-serif!important;
    color: $nauticBlue!important;
}
.title{
    font-family: 'mermaidbold'!important;
    font-size: $d50;
}
.title-slide{
    font-size: $d60;
    font-weight: $light;
}
nav a{
    color: $nauticBlue!important;
}
nav .active{
    font-weight: $medium;
}
p{
    font-size: $d15;
    line-height: 2;
}

// header
header{
    background-color: #fff;
    .navbar-brand{
        background-image: url(../assets/wbsLogoMobile.png);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        display: block;
        text-indent: -9999px;
    }
}
#ul-nav{
    width: 80%;
}
// sections
section{
    min-height: 100vh;
    background-color: #fff;
    margin: 0;
}
.card{
    margin-bottom: 5rem;
}

.image-client{
    padding: 2px;
    border: 1px solid $nauticBlue;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    border-radius: 3px;
    .inner-housing{
        width: 90px;
        height: 90px;
        overflow: hidden;
        border-radius: 3px;
        img{
            width: 200%;
        }
    }
}

#visit-showrooms{
    height: 100vh;
    background-image: url(../assets/anna-sullivan-f7fZg21B3ms-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

#newsletter{
    height: 100vh;
}

#dropDownFilter{
    height: 0px;
    overflow: hidden;
}

.product-container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 18rem);
    grid-auto-rows: minmax(20px, auto);
    justify-content: center;
}
.product-container > * {
    float: left;
}

.card-client{
    .card-subtitle{
        font-size: $d12;
    }
    .card-body .card-text{
        font-size: $d12;
    }
}

.product-card{
    background-color: $ecstasy!important;
    color: $nauticBlue!important;
    h5{
        font-weight: $light;
        font-size: $d35!important;
    }
    p{
        font-size: $d15;
    }
}

// form
input[type=email]{
    border: none;
    background-color: none;
    border-bottom: 1px solid $goldenCarpet;
    color: $goldenCarpet;
    font-size: $d25;
    &::placeholder{
        color: $goldenCarpet;
    }
}

.social-box a svg{
    fill: $nauticBlue;
}

footer{
    color: #fff;
}

@media only screen and (min-width: 768px){
    header{
        .navbar-brand{
            background-image: url(../assets/wbsLogoDesktop.png);
            width: 260px;
            height: 40px;
        }
    }
    p{
        font-size: $d25;
        line-height: 2;
    }
    .card{
        margin-bottom: 0;
    }
    #dropDownFilter{
        button{
            font-size: $d15;
        }
    }
    .title{
        font-size: $d60;
    }
}

@media only screen and (min-width:1024px){
    #filterBtn{
        color: $nauticBlue!important;
    }
    #dropDownFilter{
        overflow: visible;
        height: 100%;
    }
}

@media screen and (min-width: 1280px){
    .carousel-inner{
        height: 660px;
    }
    .wrapper-image{
        height: 800px;
        overflow: hidden;
        img{
            margin-top: -300px;
        }
    }
    .title{
        font-size: $d70;
    }
}