@media screen and (min-width: 1280px){
    .carousel-inner{
        height: 660px;
    }
    .wrapper-image{
        height: 800px;
        overflow: hidden;
        img{
            margin-top: -300px;
        }
    }
}
body{
    background-color: #032539!important;
}
// header
header{
    background-color: #fff;
}
#ul-nav{
    width: 80%;
}
// sections
section{
    min-height: 100vh;
    background-color: #fff;
    margin: 0;
}
.card{
    margin-bottom: 5rem;
}
@media only screen and (min-width: 768px){
    .card{
        margin-bottom: 0;
    }
}
.image-client{
    padding: 2px;
    border: 1px solid blue;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    border-radius: 3px;
    .inner-housing{
        width: 90px;
        height: 90px;
        overflow: hidden;
        border-radius: 3px;
        img{
            width: 200%;
        }
    }
}

#visit-showrooms{
    height: 100vh;
    background-image: url(../assets/anna-sullivan-f7fZg21B3ms-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

#newsletter{
    height: 100vh;
}

footer{
    color: #fff;
}