// colors
$nauticBlue: #032539;
$goldenCarpet: #CCB29E;

// type dimensions
$d12: 0.75rem;
$d15: 0.9375rem;
$d25: 1.5625rem;
$d30: 1.875rem;
$d60: 3.75rem;
$d70: 4.375rem;
$d75: 4.6875rem;

// type weights
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;